body{
  background-image: url('https://img.freepik.com/free-photo/retro-living-room-interior-design_53876-145503.jpg?w=740&t=st=1658736372~exp=1658736972~hmac=311c3078c75c077f05413965e0086087aa07936d8a53d305cd8db53f76a2d4f4');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* overflow: hidden; */
}

.navbar{
  display: flex;
}
.div-logo{
  flex-basis: 20%;
  margin-top: 10px;
  margin-left: 20px;
}

.list{
  flex-basis: 70%;
  margin-top: 20px;
  margin-left: 50px;
}
.call{
  flex-basis: 20%;
}


.list-item{
  margin-left: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 30px;
  margin-top: 20px;
  
}
p{
  color: white;
  margin-left: 20px;
}
.border{
  height: 2px;
  color: white;
  background-color: white;
  width: 80%;
  margin-top: 40px;
  margin: auto;
}
.box1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading-1{
  flex-basis: 60%;
  margin-top: 150px;
  text-align: center;

}
.button-1{
  flex-basis: 35%;
  
  

}
button{
  width: 150px;
  padding: 12px;
  border-radius: 16px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 22px;
}
.button-2{
  flex-basis: 20%;
  background-color: #304657;
  border: 1px solid #304657;
  height: 130px;
  border-radius: 2px;
}
.heading-2{
  flex-basis: 20%;
  background-color: #304657;
  border: 1px solid #304657;
  height: 130px;
  margin-left: 0px;
  margin-top: 50px;
  border-radius: 2px;

  

}
.text-1{
  font-size: 52px;
  color: white;
  line-height: 72px;
  font-weight: bold;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.text-2{
  font-weight: bold;
  margin-top: 40px;
  line-height: 32px;
}

@media only screen and (min-width: 480px)and (max-width:768px) {
  
  .div-logo{
    flex-basis: 20%;
  }
  .list{
    flex-basis: 80%;
    margin: 0;
    margin-top: 20px;
    padding-left: 10px;
    
  }
  .call{
    flex-basis: 20%;
    margin-left: 40px;
  }
  .navbar{
    display: flex;
    flex-direction: column;
  }
  .box1{
    display: flex;
    flex-direction: column;
    
  }
  .heading-1{
    flex-basis: 80%;
    margin-top: 0;
  }
  .heading-2{
    flex-basis: 20%;
    margin-top: 10px;
    height: 130px;
    border: 1px solid #304657;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
  }
  .text-1{
    font-size: 32px;
  }
  .button-1{
    flex-basis: 35%;
    margin-top: 10px;
  }
  .button-2{
    flex-basis: 20%;
    height: 130px;
    border: 1px solid #304657;
    border-radius: 2px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    margin-top: 20px;
  }
 
  button{
    width: 150px;
    padding: 12px;
    border-radius: 16px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-size: 22px;
  }
  body{
    background-image: url('https://img.freepik.com/free-photo/retro-living-room-interior-design_53876-145503.jpg?w=740&t=st=1658736372~exp=1658736972~hmac=311c3078c75c077f05413965e0086087aa07936d8a53d305cd8db53f76a2d4f4');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 800px;
    /* overflow: hidden; */
    scroll-behavior: smooth;
  }
    
  }
   
   
  



@media only screen and (min-width: 768px)and (max-width:992px) {
 
} 